.education {
	display: flex;
	justify-content: center;
}

.education_wrapper {
	width: 1140px;
}

.education_wrapper > h3 {
	color: var(--color-black-100);
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

.education_wrapper_header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.education_wrapper_header_experience::before {
	z-index: -1;
	position: relative;
	content: '';
	top: 33px;
	left: 8px;
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: var(--color-accent-500);
}

.education_wrapper_header_utility {
	margin-bottom: 25px;
}

.education_wrapper_header_line-yollow {
	height: 3px;
	width: 60px;
	background: var(--color-accent-500);
	margin-bottom: 30px;
}

.education_wrapper_cards {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.education_wrapper_cards_card {
	width: 425px;
	margin-bottom: 45px;
}

.education_wrapper_cards_card-header {
	display: flex;
	margin-bottom: 12px;
}

.education_wrapper_cards_header-info,
.education_wrapper_cards_work-experience {
	color: var(--color-black-100);
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin-bottom: 45px;
}

.education_wrapper_cards_card-header::before {
	z-index: -1;
	position: relative;
	left: 22px;
	content: '';
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: var(--color-accent-500);
}

.education_wrapper_cards_card-header_card-header-text {
	margin-left: 20px;
}

@media (max-width: 850px) {
	.education_wrapper_cards {
		flex-direction: column;
	}
	.education_wrapper_cards_header-info,
	.education_wrapper_cards_work-experience {
		text-align: center;
	}
	.education_wrapper_cards_card {
		width: 350px;
	}
	.education_wrapper_cards {
		flex-direction: column;
		align-items: center;
	}
}
