.wrapper-contact {
	width: 1140px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 45px;
}

@media (max-width: 1080px) {
	.wrapper-contact {
		flex-direction: column;
		align-items: center;
	}
}

.myPhoto {
	width: 400px;
	height: 600px;
}

@media (max-width: 1080px) {
	.myPhoto {
		width: 300px;
		height: 500px;
	}
}

.contact {
	display: flex;
	justify-content: center;
}

.contact-block {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 70px;
}

@media (max-width: 1080px) {
	.contact-block {
		width: auto;
		height: auto;
		align-items: center;
		margin-left: 0;
		justify-content: center;
	}
}

.contact-block > h3 {
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 6px;
	margin-left: 10px;
}

.contact-block > h3::before {
	z-index: -1;
	position: relative;
	content: '';
	top: 30px;
	left: -15px;
	display: block;
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background: var(--color-accent-500);
}

.contact-block > h2 {
	color: #000;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 60px;
}

.contact-block > p {
	margin-bottom: 20px;
	color: #000;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.contact-link > a {
	margin-bottom: 20px;
}

.contact-input-name {
	width: 275px;
	height: 45px;
	margin-bottom: 30px;
	margin-right: 25px;
	border: 1px solid #000;
}

@media (max-width: 850px) {
	.contact-input-name {
		margin-right: 0;
	}
}

.input-name-email {
	display: flex;
}

@media (max-width: 850px) {
	.input-name-email {
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0;
	}
}

.contact-textarea {
	border: 1px solid #000;
	width: 585px;
	height: 170px;
	margin-bottom: 15px;
}

@media (max-width: 850px) {
	.contact-textarea {
		width: 275px;
		height: 130px;
	}
}

.button-submit {
	width: 275px;
	height: 45px;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	color: #000;
	font-weight: 700;
	background-color: var(--color-accent-500);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.input-box {
	position: relative;
}

.input-box span {
	position: absolute;
	top: -10px;
	left: 10px;
	background-color: #fff;
	padding: 0 5px;
	font-size: 14px;
}

@media (max-width: 850px) {
	.input-box span {
		top: -10px;
		padding: 0;
	}
}

.textarea-box {
	position: relative;
}

.textarea-box span {
	position: absolute;
	left: 10px;
	top: -180px;
	background-color: #fff;
	padding: 0 5px;
	font-size: 14px;
}

@media (max-width: 850px) {
	.textarea-box span {
		top: -10px;
	}
}

.contact-link-with-svg-facebook {
	background: url('../../assets/icons/FacebookBig.svg') no-repeat center;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 25px;
}

.contact-link-with-svg-telegram {
	background: url('../../assets/icons/Telegram.svg') no-repeat center;
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 25px;
}

.contact-link-with-svg-instagram {
	background: url('../../assets/icons/InstagramBig.svg') no-repeat center;
	display: inline-block;
	width: 30px;
	height: 30px;
}

.contact-line-yollow {
	height: 3px;
	width: 60px;
	background: var(--color-accent-500);
	margin-bottom: 15px;
}

@media (max-width: 850px) {
	.contact-conect {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}

.error-message {
	position: relative;
	top: -20px;
	color: red;
	font-size: 12px;
}
